


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

/*Navigation Bar*/

.navigation {
  width: 100%;
  padding: 1rem 3%;
  background-color: #fbfbfb;
  border-bottom: 1px solid #0000002c;
  margin-bottom: 2px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 5rem;
}
.nav-links li a {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #3f3f3f;
}
.profile {
  cursor: pointer;
}

/*First Page*/

.FirstPage {
  background:
    linear-gradient(
      to bottom,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 60%,
      #ffffff 100%
    ),
    url("components/Main02.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}

.FirstPage h2 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  color: #fff;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.FirstPage #header01 {
    font-style: italic;
}
.FirstPage p {
  max-width: 40rem;
  color: #fff;
  margin: 1rem 0 2rem;
  line-height: 1.5;
  font-weight: 400;
}

.start-planting {
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #494949;
}
.start-planting img {
  width: 2rem;
  height: 2rem;
  background-color: #494949;
  padding: 0.5rem;
  border-radius: 4px;
}
/*Second Page*/

.SecondPage {
  padding: 6rem 10%;
  background-color: #ffff;
  min-height: 80vh;
}

.about-title {
  font-size:  1rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  color: #494949;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 5rem;
}

.feature h2 {
  font-size: 2rem;
  color: #bcbcbc;
  font-weight: 500;
  margin-bottom: 1rem;
  font-style: italic;
}

.feature p {
  max-width: 18rem;
  line-height: 1.6;
  font-size: 1rem;
  font-style: italic;
  color: #3f3f3f;
}

.middle h3 {
  font-size: clamp (2rem, 3vw, 3rem);
  font-weight: 600;
  line-height: 1.4;
  color: #3f3f3f;
  max-width: 80rem;
  margin-bottom: 4rem;
}

.middle span {
  font-style: italic;
  font-size: 24px;
}

.green {
  color: #3F7C42;
  font-weight: 700;
}

.middle em {
  font-style: italic;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.bottom p {
  font-size: 0.85rem;
  letter-spacing: 1px;
}

.joinBtn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 7px 1rem;
  border: 1px solid #494949;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #fff;
  color: #494949;
}

.joinBtn img {
  width: 2rem;
  height: 2rem;
  background-color: #494949;
  padding: 0.3rem;
  border-radius: 4px;
}

/* Third Page */
.ThirdPage {
  display: flex;
  padding: 6rem 10%;
  flex-direction: column;
  justify-content: start;
}

.features-title {
  font-size:  1rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  color: #494949;
}

.left-features h3 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  color: #494949;
}

.green02 {
  color: #3F7C42;
}

.feat-line {
  
}


/* Media Queries */

@media (max-width: 1100px) {
}
@media (max-width: 900px) {
}
@media (max-width: 800px) {
}
@media (max-width: 700px) {
}
@media (max-width: 610px) {
}